.todolist-item {
    display: flex;
    justify-content: space-between;
    background-color: #e8e9eb;
    border-radius: 8px;
    .title {
        padding: 16px;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        flex-basis: calc(100% - 70px);
    }
    &.selected {
        background-color: #b2e6bc;
    }
}