<li 
    class="todolist-item"
    [ngClass]="{selected: item().id === selectedId()}"
>
    <div
        class="title"
        role="button"
        tabindex="0"
        (click)="itemClick(item().id)"
        (keydown)="itemClick(item().id)"
        appTooltip="Показать описание задачи"
    >
        {{ item().title }}
    </div>
    <app-button-component
        [title]="'Удалить'"
        [type]="'danger'"
        [size]="'small'"
        (buttonClick)="delete.emit()"
        appTooltip="Удалить задачу из списка"
    ></app-button-component>
</li>
