<li 
    class="todolist-item"
    [class.selected]="item().id === taskId()"
>    
    <div class="d-flex title-block align-items-center">
        @if (isCompleted()) {
            <div>+ </div>
        }         
        <div
            class="title"
            role="button"
            tabindex="0"
            (click)="selectItem()"
            (keydown.enter)="selectItem()"
            appTooltip="Показать описание задачи"
        >
            {{ item().title }}
        </div>
    </div>
</li>
