.toast-container { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 1000; 
}
.toast-item { 
    padding: 8px 8px 8px 16px; 
    margin-bottom: 16px; 
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.success { 
    border-color: #28a745; 
}
.error { 
    border-color: #dc3545; 
}
.info { 
    border-color: #17a2b8; 
}
.btn-close {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    margin-left: 16px;
    display: inline-flex;
    align-items: center;
    height: 20px;
}