@if (isLoading()){
    <div class="loader-container"> 
        <div class="loader"></div>
    </div>
} @else {
    <div class="todolist-widget">
        <h1>Список дел</h1>
        <ul class="todolist-list">
            @for (item of toDoList; track item.id) {
                <app-to-do-list-item
                    [item]="item"
                    (delete)="delete(item.id)"
                ></app-to-do-list-item>
            }
        </ul>
        <div class="form-row">
            <input 
                matInput 
                class="input-text" 
                type="text" 
                [(ngModel)]="taskText"
                (input)="onInput()"
                (keyup.enter)="add()">
            <app-button-component
                [title]="'Добавить'"
                [cssClass]="'button--add'"
                [disabled]="disabled()"
                (buttonClick)="add()"
            ></app-button-component>
        </div>
    </div>
}
