.todolist-widget {
    border: 1px solid #e9eaec;
    border-radius: 24px;
    padding: 24px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    h1 {
        margin: 0;
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
    }
}
.todolist-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.todolist-item {
    display: flex;
    justify-content: space-between;
    background-color: #e8e9eb;
    border-radius: 8px;
    padding: 16px;
    .title {
        font-size: 16px;
        line-height: 24px;
    }    
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.input-text {
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: 1px solid #e9eaec;
    border-radius: 6px; 
    padding: 8px 16px;
    width: 100%;
}
.btn {
    color: white; 
    border: none; 
    border-radius: 6px; 
    transition: background-color 0.3s ease; 
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.btn-delete {
    background-color: #007bff;     
    padding: 4px 12px;     
    font-size: 12px; 
    line-height: 18px;
    &:hover {
        background-color: #0056b3; 
    }
}
.btn-add {
    background-color: #38b46d; 
    padding: 8px 16px; 
    font-size: 16px;
    line-height: 24px;
    &:hover {
        background-color: #24a058; 
    }
}