@if (isLoading()){
    <div class="loader-container"> 
        <div class="loader"></div>
    </div>
} @else {
    <div class="d-flex gap-24">
        <div class="todolist-widget">
            <h1>Список дел</h1>
            @if (toDoList().length) {
                <ul class="todolist-list">
                    @for (item of toDoList(); track item.id) {
                        <app-to-do-list-item
                            [item]="item"
                            [selectedId]="selectedItemId()"
                            (delete)="delete(item.id)"
                            (selectItem)="selectItem($event)"
                        ></app-to-do-list-item>
                    }
                </ul>
            } @else {
                <p><i>Список пуст</i></p>
            }
            <div>
                <div class="form-row m-b-16">
                    <input 
                        matInput 
                        class="input-text" 
                        type="text"
                        placeholder="Введите название задачи"
                        [(ngModel)]="taskTitle"
                        (input)="onInput()"
                        (keyup.enter)="add()">
                    <app-button-component
                        appTooltip="Добавить задачу в список"
                        [title]="'Добавить'"
                        [type]="'accent'"
                        [disabled]="disabled()"
                        (buttonClick)="add()"
                    ></app-button-component>
                </div>
                <div class="form-row">
                    <textarea
                        matInput 
                        class="textarea" 
                        placeholder="Введите описание задачи"
                        [(ngModel)]="taskDescr"
                    ></textarea>
                </div>
            </div>
        </div>
        @if (selectedItemId() !== null) {
            <div class="todolist-descr">
                @if (selectedItemDescr()) {
                 {{ selectedItemDescr() }}
                } @else {
                    <i>Описание не указано</i>
                }
            </div>
        }
    </div>
}
