@if (isLoading()){
    <app-loading-spinner></app-loading-spinner>
} @else {
    <div class="todolist-container d-flex gap-24 w-100">
        <div class="todolist-widget">
            <h1>Список дел</h1>
            @if (toDoList.length) {
                <div class="filter">
                    <mat-form-field>
                        <mat-label>Фильтр по статусу задачи</mat-label>
                        <mat-select [(ngModel)]="selectedStatusFilter">
                            <mat-option value="">Любой</mat-option>
                            <mat-option value="Completed">Выполнена</mat-option>
                            <mat-option value="InProgress">Не выполнена</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ul class="todolist-list">
                    @for (item of toDoList; track item.id) {
                        @if (item.status === selectedStatusFilter() || !selectedStatusFilter()){
                            <app-to-do-list-item
                                [item]="item"
                                [taskId]="taskId()"
                            ></app-to-do-list-item>
                        }
                    }
                </ul>
            } @else {
                <p><i>Список пуст</i></p>
            }
            <app-to-do-create-item
                (addedSuccess)="addedItem($event)"
            ></app-to-do-create-item>
        </div>
        <router-outlet></router-outlet>
    </div>
}
