.todolist-widget {
    border: 1px solid #e9eaec;
    border-radius: 24px;
    padding: 24px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    h1 {
        margin: 0;
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
    }
}
.todolist-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
