<h1 class="page-title">{{ 'TASK_BOARD' |  translate }}</h1>
<div class="board-container">  
  @if (loading$ | async) {
    <div class="loading">
       {{ 'LOADING' |  translate }}
    </div>
    } @else {
    <div class="board-columns">
        <div class="column">
        <div class="column-header">
            <h2>{{ 'IN_PROGRESS' |  translate }}</h2>
            <span class="task-count">{{ (inProgressTasks$ | async)?.length }}</span>
        </div>
        <div class="task-list">
            @for (task of inProgressTasks$ | async; track task.id) {
                <div class="task-card">
                    <h3>{{ task.title }}</h3>
                    <p>{{ task.description }}</p>
                    <button 
                        class="move-btn"
                        (click)="moveTask(task.id, 'Completed')">
                        {{ 'MOVE_TO_COMPLETED' |  translate }}
                    </button>
                </div>
            }
            @if ((inProgressTasks$ | async)?.length === 0) {
                <div class="empty-column">
                    {{ 'NO_TASKS' |  translate }}
                </div>
            }
        </div>
        </div>

        <div class="column">
        <div class="column-header">
            <h2>{{ 'COMPLETED' |  translate }}</h2>
            <span class="task-count">{{ (completedTasks$ | async)?.length }}</span>
        </div>
        <div class="task-list">
            @for (task of completedTasks$ | async; track task.id) {
                <div class="task-card completed">
                    <h3>{{ task.title }}</h3>
                    <p>{{ task.description }}</p>
                    <button 
                        class="move-btn"
                        (click)="moveTask(task.id, 'InProgress')">
                        {{ 'MOVE_TO_IN_PROGRESS' |  translate }}
                    </button>
                </div>
            }
            @if ((completedTasks$ | async)?.length === 0) {
                <div class="empty-column">
                {{ 'NO_TASKS' |  translate }}
                </div>
            }
        </div>
        </div>
    </div>
    }
</div>