<form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)" novalidate>
    <div class="form-row m-b-16">
        <input 
            matInput 
            id="name"
            name="name"
            #name="ngModel"
            class="input-text" 
            type="text"
            placeholder="Введите название задачи"
            [(ngModel)]="task.name"
            required
            minlength="2">
        <app-button-component
            appTooltip="Добавить задачу в список"
            [type]="'accent'"
            [disabled]="taskForm.invalid"
            (buttonClick)="onSubmit(taskForm)"
        >Добавить</app-button-component>
    </div>
    <div class="form-row">
        <textarea
            matInput 
            name="description"
            class="textarea"
            placeholder="Введите описание задачи"
            [(ngModel)]="task.description"
        ></textarea>
    </div>
</form>
