body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

.input-text, .textarea {
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, sans-serif;
    outline: none;
    border: 1px solid #e9eaec;
    border-radius: 6px; 
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.gap-24 {
  gap: 24px;
}
.gap-16 {
  gap: 16px;
}
.m-b-16 {
  margin-bottom: 16px;
}
.m-b-24 {
  margin-bottom: 24px;
}
.p-16 {
  padding: 16px;
}
.p-t-8 {
  padding-top: 8px;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100vh;
}
