<h1 class="page-title">{{ 'BACKLOG' |  translate }}</h1>
<div class="backlog-container">
  <div class="tasks-list">
    <h2>{{ 'LIST_OF_TASKS' |  translate }}</h2>
    @if (loading$ | async) {
      <div class="loading">
        {{ 'LOADING' | translate }}
      </div>
    } @else {
      @if ((tasks$ | async)?.length === 0) {
        <div class="empty">
          {{ 'NO_TASKS' | translate }}
        </div>
      } @else {
        <div class="task-items">
          @for (task of tasks$ | async; track task.id) {
            <div 
              class="task-item"
              [class.selected]="selectedTask?.id === task.id"
              tabindex="0"
              (keydown.enter)="selectTask(task)"
              (click)="selectTask(task)">
              <h3>{{ task.title }}</h3>
              @if (task.status === 'InProgress') {
                <span class="status-badge inprogress">
                  {{ 'IN_PROGRESS' | translate }}
                </span>
              } @else {
                <span class="status-badge completed">
                  {{ 'COMPLETED' | translate }}
                </span>
              }
            </div>
          }
        </div>
      }
    }
  </div>

  @if (selectedTask) {
    <div class="task-details">
      <h2>{{ 'TASK_DETAILS' | translate }}</h2>
      <div class="form-group">
        <label for="name">{{ 'TITLE' | translate }}:</label>
        <input
          id="name"
          type="text" 
          [(ngModel)]="selectedTask.title"
          (blur)="saveTask()">
      </div>

      <div class="form-group">
        <label for="description">{{ 'DESCRIPTION' | translate }}:</label>
        <textarea 
          id="description"
          [(ngModel)]="selectedTask.description"
          (blur)="saveTask()"
          rows="4">
        </textarea>
      </div>

      <div class="form-group">
        <label for="status">{{ 'STATUS' | translate }}:</label>
        <div class="status-buttons">
          <button 
            id="status"
            class="status-btn"
            [class.active]="selectedTask.status === 'InProgress'"
            (click)="updateTaskStatus('InProgress')">
            {{ 'IN_PROGRESS' | translate }}
          </button>
          <button 
            class="status-btn"
            [class.active]="selectedTask.status === 'Completed'"
            (click)="updateTaskStatus('Completed')">
            {{ 'COMPLETED' | translate }}
          </button>
        </div>
      </div>
    </div>
  } @else {
    <div class="task-details empty-state">
      <h2>{{ 'TASK_DETAILS' | translate }}</h2>
      <p>{{ 'SELECT_TASK_TO_VIEW' | translate }}</p>
    </div>
  }
</div>
